<h2>商品一覧</h2>
<ul><%= link_to "新規登録ボタン設置",new_admin_item_path %></ul>
<table>
  <thead>
    <tr>
      <th></th>
      <th>商品ID</th>
      <th>商品名</th>
      <th></th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
      <th colspan = "6"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if @item.item_photo.attached? %>
            <%= image_tag item.item_photo, size:"200×200" %>
          <% else %>
            <%= image_tag 'no_image',size: "200×200" %>
          <% end %>
        </td>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.id %></td>
        <td><%= item.is_active %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--↓ページネーションを表示させるための記述-->
<%= paginate @items %>
