<div class = "container text-center" style="margin:50px">
  <div class ="row">
    <h4 class = "bg-light">商品一覧</h4>
      <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">
        <%= link_to new_admin_item_path do %>
          <span class = "text-white">+</span>
        <% end %>
      </button>

      <table class = "table">
        <thead class ="bg-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
            <th colspan = "6"></th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <!--to_s(:delimited):3桁ごとにカンマ区切りで表示させるメソッド-->
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active == false %>
                <p class = "text-success">販売中</p>
              <% else %>
                <p class = "text-muted">売切れ</p>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
        <!--↓ページネーションを表示させるための記述。詳細設定は、app/view/kaminariを参照-->
        <%= paginate @items %>
  </div>
</div>

