<div class = "container">
  <div class = "row">
    <h4 class = "bg-light">会員一覧</h4>
    <table calss = "table">
      <thead class = "bg-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <!--会員のフルネームを押下して会員詳細ページへ飛ばす-->
            <td>
              <%= customer.id %>
            </td>
            <!--full_nameは、app/models/customers.rbで定義している-->
            <td><%= customer.full_name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_deleted %></td>
          </tr>
        <% end %>
        <!--↓ページネーションを表示させるための記述-->
        <%= paginate @customers %>
      </tbody>
    </table>
  </div>
</div>