<div class = "container mx-auto" style="margin:20px">
    <div class ="row" style="margin:20px">
        <h5 class ="bg-light">注文履歴一覧</h5>
        <table class ="table table-bordered border-bg" style="margin:20px">
            <thead class = "bg-light">
                <tr>
                    <th>購入日時</th>
                    <th>購入者</th>
                    <th>注文個数</th>
                    <th>注文ステータス</th>
                    <!--colspan:th/td要素で、この属性を指定したセルから指定された数だけ右方向にセル結合して、1つのセルとして表示する-->
                    <!--<th colspan = "4"></th>-->
                </tr>
            </thead>
            <tbody>
                <!--<% @orders.each do |order| %>-->
                    <tr>
                        <td>
                            <!--購入日時を押下することで、注文履歴詳細（更新）画面へ遷移させる-->
                            <%= link_to admin_order_path(order.id) do %>
                                <%= l order.created_at,format: :long %>
                            <% end %>
                        </td>
                        <td>
                        <!--ユーザごとの注文一覧画面/url(カラム名：渡したいデータ)do-->
                        <%= link_to admin_orders_path(customer_id: order.customer.id) do %>
                            <%= order.customer.full_name %>
                         <% end %>
                        </td>
                        <% order.order_details.each do |order_details| %>
                            <% @total_amount +=(order_details.amount) %>
                        <% end %>
                        <td><%= @total_amount %></td>
                        <td><%= order.status_i18n %></td>
                    </tr>
                <!--<% end %>-->
            </tbody>
        </table>
    </div>
    <div class ="row mt-5 d-flex justify-content-center">
        <!--↓ページネーションを表示させるための記述。詳細設定は、app/view/kaminariを参照-->
        <%= paginate @orders %>
    </div>
</div>