<!--顧客側「新規会員登録画面」-->
<div class = "container">
  <div class = "row">
    <!--新規会員登録ページのタイトル-->
    <h5 class = "bg-light">新規会員登録</h5>
  </div>
  <div class = "form-row align-items-center">
    <%= form_with model: @customer,url:customer_path(resource_name) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class = "col-auto">
          <!--full_nameの定義は、app/models/customer.rbを参照-->
          <%= f.label :full_name,"名前" %>
          <!--autocomplete:"カラム名"→自動入力機能/placeholder:"〇〇〇〇"-->
          (姓)<%= f.text_field :last_name,autocomplete: "last_name",placeholder: "姓" %>
          <!--autocomplete:"カラム名"→自動入力機能/placeholder:"〇〇〇〇"-->
          (名)<%= f.text_field :first_name,autocomplete: "first_name",placeholder: "名" %>
      </div>
      <div class = "col-auto">
        <%= f.label :full_name_kana, "フリガナ" %>
        (セイ)<%= f.text_field :last_name_kana,autocomplete: "last_name_kana",placeholder: "セイ" %>
        (メイ)<%= f.text_field :first_name_kana,autocomplete: "first_name_kana",placeholder: "メイ" %>
      </div>
      <div class = "col-auto">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email,autocomplete: "email",placeholder: "sample@example.com" %>
      </div>
      <div class = "col-auto">
        <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
        <%= f.text_field :postal_code,placeholder: "0001111" %>
      </div>
      <div class = "col-auto">
        <%= f.label :addresses, "住所" %>
        <%= f.text_field :addresses,placeholder: "東京都千代田区千代田１−１",:size=>45 %>
      </div>
      <div class = "col-auto">
        <%= f.label :telephone_number, "電話番号" %>
        <%= f.text_field :telephone_number,placeholder: "00011112222" %>
      </div>
      <div class = "col-auto">
        <!--パスワードの文字数を制限するやり方を調べる-->
        <%= f.label :encrypted_password, "パスワード（6文字以上）" %>
        <%= f.text_field :encrypted_password %>
      </div>
      <div class = "col-auto">
        <!--パスワードの二重チェックを入れる方法を調べる-->
        <%= f.label :encrypted_password_confirmation, "パスワード（確認用）" %>
        <%= f.text_field :encrypted_password_confirmation %>
      </div>

      <div class = "actions">
        <%= f.submit "新規登録", class:'btn btn-sm btn-success' %>
      </div>
    <% end %>
  </div>
  <div class = "row">
    <!--「こちら」からnew_customer_session_pathに遷移させる-->
    <h5 class = "bg-light">既に登録済みの方</h5>
  </div>
  <div class = "row">
    <%= link_to"こちら",new_customer_session_path %>　からログインしてください。
  </div>
</div>
<%= render "public/shared/error_messages",resource: resource %>
