<div class="container" style="margin:20px">
  <div class="row" style="margin:20px">
    <h5 class="bg-light">注文履歴一覧</h5>
  </div>
  <div class="row">
    <table class="table table-bordered border-bg" style="margin:20px">
      <thead class="bg-light">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </thead>
      <% @orders.each do |order| %>
        <tbody>
          <td><%= order.created_at %></td>
          <td><%= order.addresses_display %></td>
          <td>
          <% order.order_details.each do |order_details| %>
            <%= order_details.item.name %><br>
          <% end %>
          </td>
          <!--.to_s(:delimited)で桁区切り表示-->
          <td><%= order.price.to_s(:delimited) %></td>
          <!--_i18nステータスのenumを日本語化させる記述-->
          <td><%= order.status_i18n %></td>
          <td><%= link_to "表示する",public_order_path(order.id),class:"btn btn-sm btn-primary" %></td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
