<div class="container" style="margin:20px">
  <div class="row" style="margin:20px">
    <h5 class="bg-light">注文履歴一覧</h5>
  </div>
  <div class="row">
    <table class="table table-bordered border-dark" style="margin:20px">
      <thead class="bg-light">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </thead>
      <% @orders.each do |order| %>
        <tbody>
          <!--l（localize）エイリアスメソッド。具体的な日本語化の表示方法は、config/locales/ja.ymlを参照-->
          <td><%= l order.created_at,format: :long %></td>
          <td><%= order.addresses_display %></td>
          <td>
          <% order.order_details.each do |order_details| %>
            <%= order_details.item.name %><br>
          <% end %>
          </td>
          <!--.to_s(:delimited)で桁区切り表示-->
          <td><%= order.price.to_s(:delimited) %>円</td>
          <!--_i18nステータスのenumを日本語化させる記述-->
          <td><%= order.status_i18n %></td>
          <td><%= link_to "表示する",public_order_path(order.id),class:"btn btn-sm btn-primary" %></td>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class ="row mt-5 d-flex justify-content-center">
    <!--↓ページネーションを表示させるための記述。詳細設定は、app/view/kaminariを参照-->
    <%= paginate @orders %>
  </div>
</div>
