<div class ="container" style="marigin:30px">
  <div class ="row" style="margin-top:20px">
    <h5 class ="bg-light">注文情報入力</h5>
  </div>
  <div class ="row">
    <%= form_with model: @order,url:public_confirm_path,local:true do |f| %>
      <div style="margin-top:10px">
        <strong>支払方法</strong>
        <div style="margin-left:30px" >
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) ,checked: true %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        </div>
        <div style="margin-left:30px">
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>
      </div>
      <div style="margin-top:10px">
        <!-- address_number と定義して1～3の番号を confilm に送ります -->
        <!--address_displayのについては、app/models/address.rbを参照-->
        <strong>お届け先</strong>
        <div style="margin-left:30px" >
          <!-- customer テーブルに登録されている住所の場合 -->
          <%= f.radio_button :address_number, 0 ,checked: true %>
          <%= f.label :address_number_0, "ご自身の住所" %><br>
          <div style="margin-left:20px">
            <%= current_customer.address %><br>
            <%= current_customer.full_name %>
          </div>
        </div>
        <div style="margin-left:30px" >
          <!-- 登録されたaddressから選んでもらう場合 -->
          <%= f.radio_button :address_number, 1 %>
          <%= f.label :address_number_1, "登録済住所から選択" %><br>
          <div style="margin-left:20px">
            <!--registered として current_customer.address.all で取得した id を送る。選択するのは address_display-->
            <%= f.collection_select(:registered, current_customer.addresses, :id, :addresses_display) %>
           <!--%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :addresses_display) %>-->
          </div>
        </div>
        <div style="margin-left:30px" >
          <!-- 新しい住所を追加する場合 -->
          <%= f.radio_button :address_number, 2 %>
          <%= f.label :address_number_2, "新しいお届け先" %><br>
          <div style="margin-left:20px">
            <table class="table table-borderless" style="-ms-writing-mode: tb-lr;writing-mode: vertical-lr;">
              <thead style="font-size:15px">
                <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.label :postal_code, "郵便番号(ハイフンなし)",size: 15 %>
                </th>
                <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.label :address, "住所" ,size: 15 %>
                </th>
                <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.label :address_name, "宛名" ,size: 15 %>
                </th>
              </thead>
              <tbody>
                <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.text_field :postal_code ,placeholder: "0000000",:size=>"20" %>
                </td>
                <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.text_field :address ,placeholder: "東京都千代田区千代田１−１",:size=>"50" %>
                </td>
                <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
                  <%= f.text_field :address_name ,placeholder: "令和成子",:size=>"20" %>
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- 選んだデータを送ります -->
      <div class="row mt-5 d-flex justify-content-center">
        <%= f.submit "確認画面へ進む",class:'btn btn-md btn-primary' %>
      </div>
    <% end %>
  </div>

</div>
