<div class = "container " style="margin:100px">
  <div class ="row mx-auto" style="margin-top:30px">
    <h5 class = "bg-light">ログイン</h5>
  </div>
  <div class = "form-row align-items-center" style="margin-top:20px">
    <h6 class = "bg-light">会員の方はこちらからログイン</h6>
  </div>
  <%= form_with model: @customer,url:session_path(resource_name) do |f| %>
    <table class="table table-borderless">
      <tr>
        <th class="col-1"><%= f.label :email,"メールアドレス" %></th>
        <td class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com" ,size: "40"%></td>
      </tr>
      <tr>
        <th calss="col-1"><%= f.label :password,"パスワード",size: "10" %></th>
        <td class="col-6"><%= f.password_field :password, autocomplete: "current-password" ,size: "40" %></td>
      </tr>
    </table>
    <div class="row offset-4 text-align:center">
      <%= f.submit "ログイン",class:'btn btn-sm btn-primary' %>
    </div>
  <% end %>
  <div class = "form-row align-items-center" style="margin-top:20px">
    <h6 class = "bg-light">会員登録がお済みでない方</h6>
  </div>
  <div class = "row offset-1" style="margin-top:10px">
    <%= link_to "こちら",new_customer_registration_path %> から新規登録を行ってください。
  </div>
</div>

<!--%= render "public/shared/links" %>-->